<footer class="container">
    Feito com ❤
    <br>
    <img src="https://media4.giphy.com/media/Z9WQLSrsQKH3uBbiXq/200w.webp?cid=ecf05e472j0tk5flqf93thgjc715hghfho50jzz5qa480lay&rid=200w.webp&ct=g"/>
</footer>
</body>
</html>